@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.button-4 {
    text-decoration: none;
    display: inline-block;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 40px;
    color: white;
    background: #000000;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    border-radius: 2px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 5px;
    font-size: 20px;
}

.button-4:active{
    background: #cccccc;
}

.button-4:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: 0;
    right: 0;
    background: linear-gradient(225deg, #fff 45%, #aaaaaa 50%, #cccccc 56%, white 80%);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, .4);
    transition: .3s;
}

.button-4:hover:before {
    width: 20px;
    height: 20px;
}

.MuiListItem-root{
    width: 1000px;
}

.rainbow-animated {
    color: #000;
    font-size: 40px;
    line-height: 25px;
    font-family: 'Indie Flower', cursive;
}
